body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  
  .logo-container {
    text-align: center;
    opacity: 0;
    animation: aparecer 2s ease-in-out forwards, sumir 1s ease-in-out 3s forwards;
  }
  
  .icone {
    font-size: 60px;
    display: block;
    margin-bottom: 10px;
  }
  
  .logo-texto {
    font-size: 32px;
    font-weight: 800;
    color: #3855C7;
  }
  
  @keyframes aparecer {
    from { opacity: 0; transform: scale(0.8); }
    to { opacity: 1; transform: scale(1); }
  }
  
  @keyframes sumir {
    to { opacity: 0; transform: scale(1.1); }
  }
  
  